<ion-view class='view-dark'>

  <ion-header-bar class="bar-scrimmage">
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-close-empty" ng-click='goBack()'></a>
    </div>
    <h1 class="title view-title">account</h1>
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-checkmark-empty" ng-click='goToCreate()'></a>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <div class="item item-divider divider-dark">
        profile
      </div>
      <a class="item" style='color: #222' ng-click='editProfile()'>
        Edit Profile
      </a>

      <div class="item item-divider divider-dark">
        Social
      </div>
      <ion-toggle toggle-class='toggle-facebook'><i class="icon ion-social-facebook facebook"></i> &nbsp; facebook</ion-toggle>
      <ion-toggle toggle-class='toggle-twitter'><i class="icon ion-social-twitter twitter"></i> &nbsp; twitter</ion-toggle>
      <ion-toggle toggle-class='toggle-instagram'><i class="icon ion-social-instagram instagram"></i> &nbsp; instagram</ion-toggle>

    </div>
  </ion-content>
</ion-view>
