<ion-view class='view-dark'>
  <ion-content >
    <div class='padding'>
      <div class="row animated fadeInDown">
        <div class="col">
          <div id="logo"><h1>Scrimmagr</h1></div>

          <div class="row">
            <div class="col col-10"></div>
            <div class="col">
              <div id="subtitle">Find pick-up games near you.</div>
            </div>
            <div class="col col-10"></div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col col-10"></div>
        <div class="col animated fadeInUp" style='text-align: center'>
          <button class="button button-block button-facebook icon-left icon ion-social-facebook" ng-click="fbLogin()">Sign in with Facebook</button>
        </div>
        <div class="col col-10"></div>
      </div>
    </div>
  </ion-content>
  <div class="background-gif"></div>
</ion-view>
