<ion-view class='view-dark'>

  <ion-header-bar class="bar-scrimmage">
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-more" ng-click='settings()'></a>
    </div>
    <h1 class="title view-title">scrimmagr</h1>
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-trophy" ng-click='ranking()'></a>
      <a style="color: white;" class="button button-icon icon ion-ios-plus-empty" ng-click='goToCreate()'></a>
    </div>
  </ion-header-bar>

  <ion-content class='padding'>
    <div class="list card" ng-repeat='game in games'>
      <div class="item item-avatar" ng-click='goToGame(game.id)'>
        <img ng-src="{{game.attributes.creator.attributes.profilePicture}}"/>
        <h2>{{game.attributes.nameLocation}}</h2>
        <p><i class="icon ion-ios-location"></i> {{game.attributes.distanceLocation * 0.00062137 | number:2}} Miles away</p>
        <p><i class="icon ion-ios-people"></i> {{game.attributes.attendees.length}} player(s) going</p>
      </div>
    </div>
  </ion-content>
</ion-view>
