<ion-view class='view-dark'>
  <ion-header-bar class="bar-scrimmage">
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-arrow-left" ng-click='goBack()'></a>
    </div>
    <h1 class="title view-title">Game</h1>
    <div class="buttons">
      <a href="" style="color: white" class="button button-icon icon ion-ios-upload-outline" ng-click="share()"></a>
    </div>
  </ion-header-bar>
  <ion-content class='padding'>
    <button class="button button-outline button-block icon-left ion-ios-location-outline" ng-if='notAttending' ng-click='attend()'>Check in!</button>

    <div class="list card">
      <div class="item">
        <h2>{{game.attributes.nameLocation}}</h2>
        <h2 class='grey-text'>{{game.attributes.addressLocation[0]}}</h2>
        <h2 class='grey-text'>{{game.attributes.addressLocation[1]}}</h2>
      </div>
      <div class="item item-image">
        <div>
          <style>#map { height: 250px; } </style>
          <div id="map" data-tap-disabled="true"></div>
<!--           <google-map latitude="{{game.attributes.geoLocation._latitude}}" longitude="{{game.attributes.geoLocation._longitude}}" disableDefaultUI fitToMarkers>
  <google-map-marker latitude="{{game.attributes.geoLocation._latitude}}" longitude="{{game.attributes.geoLocation._longitude}}"
                     title="{{game.attributes.nameLocation}}">
  </google-map-marker>
</google-map> -->
        </div>
      </div>
      <div class="item">
        <h2><i class="icon ion-ios-partlysunny"></i> Weather Forecast</h2>
        <div class="row">
          <div class="col">
            <h2 class="grey-text">High:</h2>
          </div>
          <div class="col">
            <h2 class="grey-text">{{temperature.temp_high.max.F}} <span style="font-family: 'Helvetica'">&deg;</span>F</h2>
          </div>
          <div class="col">
            <h2 class="grey-text">Low:</h2>
          </div>
          <div class="col">
            <h2 class="grey-text">{{temperature.temp_high.min.F}} <span style="font-family: 'Helvetica'">&deg;</span>F</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="list card" ng-repeat='attendee in game.attributes.attendees'>
      <div class="item item-avatar" ng-click='goToUser(attendee.id)'>
        <img ng-src="{{attendee.attributes.profilePicture}}">
        <h2>{{attendee.attributes.name}} <span style='color: #aeaeae'>({{attendee.attributes.gPoints}} points)</span></h2>
        <p>{{attendee.attributes.email}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
