<ion-view class='view-dark'>
  <ion-header-bar class="bar-scrimmage">
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-arrow-left" ng-click='goBack()'></a>
    </div>
    <h1 class="title view-title">{{game.day | formatTimeShow}}</h1>
    <div class="buttons">
      <a style="color: white" class="button button-icon icon ion-person-stalker" ng-click='modal.show()'></a>
      <a style="color: white" class="button button-icon icon ion-ios-upload-outline" ng-click="share()"></a>
    </div>
  </ion-header-bar>
  <ion-content class='padding'>

    <div class="list card">
      <div class="item">
        <h2>@{{game.name}}</h2>
        <h2 class='grey-text'>{{game.address[0]}}</h2>
        <h2 class='grey-text'>{{game.address[1]}}</h2>
      </div>
      <div class="item item-image">
        <div>
          <style>#map { height: 250px; } </style>
          <div id="map" data-tap-disabled="true"></div>
<!--           <google-map latitude="{{game.attributes.geoLocation._latitude}}" longitude="{{game.attributes.geoLocation._longitude}}" disableDefaultUI fitToMarkers>
  <google-map-marker latitude="{{game.attributes.geoLocation._latitude}}" longitude="{{game.attributes.geoLocation._longitude}}"
                     title="{{game.attributes.nameLocation}}">
  </google-map-marker>
</google-map> -->
        </div>
      </div>
      <div class="item">
        <h2><i class="icon ion-ios-partlysunny"></i> Weather Forecast</h2>
        <div class="row">
          <div class="col">
            <h2 class="grey-text">High:</h2>
          </div>
          <div class="col">
            <h2 class="grey-text">{{temperature.temp_high.max.F}} <span style="font-family: 'Helvetica'">&deg;</span>F</h2>
          </div>
          <div class="col">
            <h2 class="grey-text">Low:</h2>
          </div>
          <div class="col">
            <h2 class="grey-text">{{temperature.temp_high.min.F}} <span style="font-family: 'Helvetica'">&deg;</span>F</h2>
          </div>
        </div>
      </div>
    </div>

    <button class='button button-outline button-block icon-left ion-ios-location-outline' ng-if='notAttending' ng-click='attendGame()'>Check in!</button>

    <div class="list">

      <div class="item item-divider" style='color: #f1f1f1; background: transparent; border: none; text-align: center;'>
        <i class="icon ion-ios-people"></i> {{game.attendees.length}} player(s) going
      </div>

      <div class="list card" ng-repeat='attendee in game.attendees'>
        <div class="item item-avatar">
          <img ng-src='{{attendee.picture}}'>
          <h2>{{attendee.name}}<h2>
          <p>{{attendee.email}}</p>
        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
