<ion-view class='view-dark' view-title='schedule it'>

  <ion-header-bar class="bar-scrimmage">
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-close-empty" ng-click='goBack()'></a>
    </div>
    <h1 class="title view-title">add scrimmage</h1>
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-checkmark-empty" ng-click='submit()'></a>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">

      <div class="item item-divider divider-dark">
        Location
      </div>
      <label class="item item-input" ng-if='hide'>
        <input type="text" placeholder="Select a location" ng-model='search.venue'>
      </label>
      <a class="item" style='color: #898989' ng-repeat='venue in venues | filter:{ name: search.venue }' ng-if='search.venue' ng-click='selectVenue(venue)'>{{venue.name}} - {{venue.location.distance * 0.00062137 | number:2}} Miles away</a>

      <div class="item item-divider divider-dark">
        Time
      </div>
      <a class="item" style='color: #222' ng-click='getDate()' ng-bind='selectedTimeText'></a>

    </div>
  </ion-content>
</ion-view>
