<ion-view class='view-dark' view-title='schedule it'>

  <ion-header-bar class="bar-scrimmage">
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-close-empty" ng-click='goBack()'></a>
    </div>
    <h1 class="title view-title">scrimmagr</h1>
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-checkmark-empty" ng-click='goToCreate()'></a>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <div class="item item-divider divider-dark">
        Location
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Where are you playing?">
      </label>

      <div class="item item-divider divider-dark">
        Time
      </div>
      <label class="item item-input">
        <input type="text" placeholder="What time are you playing?">
      </label>

    </div>
  </ion-content>
</ion-view>
