<ion-view class='view-dark'>

  <ion-header-bar class="bar-scrimmage">
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-android-more-vertical" ng-click='settings()'></a>
    </div>
    <h1 class="title view-title">scrimmagr</h1>
    <div class="buttons">
      <a style="color: white;" class="button button-icon icon ion-ios-plus-empty" ng-click='goToCreate()'></a>
    </div>
  </ion-header-bar>

  <ion-content class='padding scroll'>
    <div class="list card" ng-repeat="game in games track by $index | orderBy : '-day' | filter :{distance:filterDistance}">
      <div class="item" ng-click="goToGame(game.id)">
        <h2 style='font-family: "MoonBold"; text-align: center'>@{{game.name}}</h2>
        <div class="row grey-text">
          <div class="col col-10"><i class="icon ion ion-ios-clock"></i></div>
          <div class="col">{{game.formattedDay}}</div>
        </div>
        <div class="row grey-text">
          <div class="col col-10"><i class="icon ion-ios-location"></i></div>
          <div class="col">{{game.distance * 0.00062137 | number:2}} miles away</div>
        </div>
        <div class="row grey-text">
          <div class="col col-10"><i class="icon ion-ios-people"></i></div>
          <div class="col">{{game.attendees.length}} player(s) going</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
