body {
  font-family: "MoonBold" !important;
}

/* Navbar styling... */

.bar-scrimmage {
  font-family: "MoonBold";
  border-color: #222;
  background-color: #222;
  background-image: linear-gradient(0deg, #222, #222 50%, transparent 50%);
  color: #f1f1f1;
}

.view-title {
  font-family: "MoonBold";
  color: #f1f1f1;
}

/* Dark background */

.view-dark {
  background: #222;
  color: #f1f1f1;
}

.divider-dark {
  background: #222;
  border: none;
  color: #c4c4c4;
}

.grey-text {
  color: #999
}

/* Toggle styling */

.toggle.toggle-facebook input:checked + .track {
  border-color: #32568F;
  background-color: #32568F;
}

.toggle.toggle-twitter input:checked + .track {
  border-color: #00B8EC;
  background-color: #00B8EC;
}

.toggle.toggle-instagram input:checked + .track {
  border-color: #3f729b;
  background-color: #3f729b;
}

/* Colors */

.facebook {
  color: #32568F;
}

.twitter {
  color: #00B8EC;
}

.instagram {
  color: #3f729b;
}

/* Button styling... */

.button {
  font-family: "MoonBold";
  font-size: 1.2em;
  padding-top: 2px;
  border-radius: 0px;
}

.button-facebook.activated {
  background-color: #224776;
}

.button-twitter.activated {
  background-color: #00a3c4;
}

.button-facebook {
  border-color: #32568F;
  background-color: #32568F;
  color: #f1f1f1;
}

.button-facebook:hover {
  background-color: #224776;
  color: #f9f9f9
}

.button-twitter {
  border-color: #00B8EC;
  background-color: #00B8EC;
  color: #f1f1f1;
}

.button-twitter:hover {
  background-color: #00a3c4;
  color: #f9f9f9
}

body
{
	font-family: sans-serif;
	font-size: 12pt;
}

.container {
	position: relative;
	margin: 10%;
	display: block;
	text-align: center;
}

input
{
	width: 50%;
	top: 25%;
	height: 30px;
}

#live-search {
	position: absolute;
	top: 30%;
	left: 25%;
	right: 25%;
	text-align: center;
	vertical-align: middle;
}

/*Live Search styles start*/
ul.searchresultspopup {
	border: #a4bed4 1px solid;
	margin-top: 0px;
	padding: 0px;
	z-index: 99999!important;
	position: fixed;
	background-color: white;
	/*max-height:200px;*/
	border-collapse: separate;
	overflow-y: hidden;
}

ul.searchresultspopup > li {
	cursor: pointer;
	padding-left: 1px;
	text-align: left;
	list-style: none;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-transform: lowercase;
}

ul.searchresultspopup li.selected, ul.searchresultspopup li:hover {
	background-color: #ededed;
}

ul.searchresultspopup b {
	color: blue;
}

ul.searchresultspopup strong {
	color: green;
}
/*Live Search styles end*/
